<div class="page-width text-center">
  {{ section.settings.custom_html }}
</div>



{% schema %}
{
  "name": {
    "de": "Benutzerdefiniertes HTML",
    "en": "Custom HTML",
    "es": "HTML personalizado",
    "fr": "Code HTML personnalisé",
    "it": "HTML personalizzato",
    "ja": "HTMLをカスタムする",
    "pt-BR": "HTML personalizado"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "html",
      "id": "custom_html",
      "label": {
        "de": "Benutzerdefiniertes HTML",
        "en": "Custom HTML",
        "es": "HTML personalizado",
        "fr": "Code HTML personnalisé",
        "it": "HTML personalizzato",
        "ja": "HTMLをカスタムする",
        "pt-BR": "HTML personalizado"
      },
      "default": {
        "de": "<h2>Formatieren Sie Ihren Text mit HTML, damit er leichter lesbar ist.</h2><p>Mit diesem Text können Sie Ihre Kunden über Ihre Marke informieren.</p>",
        "en": "<h2>Use HTML to format your text so it can be easily read.</h2><p>This text can be used to share information about your brand with customers.</p>",
        "es": "<h2>Usa HTML para formatear tu texto para que se pueda leer fácilmente.</h2><p>Este texto se puede usar para compartir información sobre tu marca con los clientes.</p>",
        "fr": "<h2>Utilisez le code HTML pour formater votre texte afin qu'il puisse être facilement lu.</h2><p>Vous pouvez utiliser ce texte pour partager des informations sur votre marque avec les clients.</p>",
        "it": "<h2>Utilizza l'HTML per formattare il testo in modo che sia facilmente leggibile.</h2><p>Questo testo può essere utilizzato per condividere le informazioni sul tuo brand con i clienti.</p>",
        "ja": "<h2>テキストが読みやすくなるように、HTMLを使用して書式設定します。</h2><p>このテキストは、あなたのブランドに関する情報をお客様と共有するために使用できます。</p>",
        "pt-BR": "<h2>Use HTML para formatar seu texto, assim ele pode ser lido com facilidade.</h2> <p>Esse texto pode ser usado para compartilhar informações sobre sua marca com os clientes.</p>"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Benutzerdefiniertes HTML",
        "en": "Custom HTML",
        "es": "HTML personalizado",
        "fr": "Code HTML personnalisé",
        "it": "HTML personalizzato",
        "ja": "HTMLをカスタムする",
        "pt-BR": "HTML personalizado"
      },
      "category": {
        "de": "Advanced",
        "en": "Advanced",
        "es": "Avanzado",
        "fr": "Advanced",
        "it": "Advanced",
        "ja": "高度",
        "pt-BR": "Advanced"
      }
    }
  ]
}
{% endschema %}
